charset-normalizer==3.4.1
croniter==1.4.1
defusedxml==0.7.1
deprecation==2.1.0
exceptiongroup==1.2.2
importlib-metadata==6.7.0
iniconfig==2.0.0
packaging==24.0
pluggy==1.2.0
pytest==7.4.4
solnlib==5.5.0
sortedcontainers==2.4.0
splunk-sdk==2.1.0
splunkz @ git+https://github.com/zepdev/splunkz.git@020e9123aa1d79f194bea6b73ade8fd6111ccfbe
tomli==2.0.1
tqdm==4.67.1
zipp==3.15.0
